.card {
  width: 30em;
}

.cardTop {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}
